---
import Shape from "@components/Shape.astro";
import FeatureBanner from "@components/industries/FeatureBanner.astro";
import Gallery from "@components/industries/Gallery.astro";
import PageHeader from "@components/industries/PageHeader.astro";
import ProjecManagement from "@components/industries/ProjecManagement.astro";
import Works from "@components/industries/Works.astro";
import Base from "@layouts/Base.astro";
import Cta from "@partials/Cta.astro";
import { getEntryBySlug } from "astro:content";

const about = await getEntryBySlug("industries", "realestate");
const { gallery, features } = about.data;
const page_data = {
  ...about.data,
  content: about.body,
};
---

<Base
  title={about.data.title}
  meta_title={about.data.meta_title}
  description={about.data.description}
  image={about.data.image}
>
  <Shape />
  <section class="page-hero">
    <div class="container">
      <div class="page-hero-content mx-auto max-w-[768px] text-center">
        <PageHeader page_data={page_data} />
      </div>
      <FeatureBanner features={about.data}/>

      <!-- <CounterComponent counter={counter} /> -->
      <!-- benifit -->

      <!-- our works -->
      <Works features={features} />
      <ProjecManagement features={about.data}/>
      <Cta/>
      <!-- gellary -->
      <!-- <Gallery gallery={gallery} /> -->
      <!-- our members -->
      <!-- <OurMembers members={members} /> -->
    </div>
  </section>
</Base>
